/* COMMON */
body{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Reset img */
img{
    max-width: 100%;
}

/* Reset a */
a{
    text-decoration: none;
    display: inline-block;
}

/* Button */
.ms_btn{
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
}

.ms_btn-dark{
    color: white;
    background-color: #363636;
    border: 1px solid #363636;
}

.ms_btn-dark:hover{
    color: #363636;
    background-color: white;
    border: 1px solid #363636;
}

.ms_btn-red{
    color: white;
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}

.ms_btn-red:hover{
    color: #cd3d0f;
    background-color: white;
    border: 1px solid #cd3d0f;
}

.ms_btn-blue{
    color: white;
    background-color: #2d64e6;
    border: 1px solid #2d64e6;
}

/* text */
h2{
    font-size: 40px;
}

.text-blue{
    font-size: 14px;
    color: #217dd2;
}

.text-gray{
    color: gray;
}

/* banner */
.ms_banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Header top */
.ms_header-top{
    background-color: black;
}

/* Logo sony */
.ms_header-top .logo-sony{
    padding: 5px 0;
    text-align: right;
}

.logo-sony img{
    width: 70px;
    display: inline-block;
}

/* Header bottom */
.ms_header-bottom{
    padding: 10px 0;
    background-color: white;
}
/* Menu header left and right */
.menus-header-left ul,
.menus-header-right ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menus-header-left li,
.menus-header-right li{
    display: inline-block;
    padding: 0 5px;
}

.menus-header-left a{
    color: black;
}

.menus-header-right li:first-child a{
    color: black;
}

.menus-header-left{
    text-align: left;
}

.menus-header-right,
.ms_header-burger{
    text-align: right;
}

/* Search icon */
.search svg{
    width: 25px;
}

/* Chevron icon */
.menus-chevron svg{
    width: 10px;
}

.menus-chevron-hover svg{
    width: 10px;
    display: none;
}

/* Menu header hover */
.menus-header-left a:hover .menus-chevron svg,
.menus-header-right a:hover .menus-chevron svg{
    display: none;
}

.menus-header-left a:hover .menus-chevron-hover svg,
.menus-header-right a:hover .menus-chevron-hover svg{
    display: inline-block;
}

.menus-header-left li:hover a,
.menus-header-right li:first-child a:hover{
    color: #0270d1;
}

/* Header burger */
.ms_header-burger i{
    font-size: 25px;
    padding: 5px 13px;
    border-radius: 3px;
    color: grey;
    border: 1px solid lightgray;
}


/* MAIN */
/* Main section */
main section{
    padding: 40px 0;
}

/* Jumbotron */
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 110px;
    
}

.jumbo-cta{
    padding-top: 300px;
    padding-bottom: 40px;
}

.jumbo-and-takes-img img{
    width: 60%;
    min-width: 250px;
    padding-bottom: 20px;
}

.jumbo-and-takes-text h2,
.jumbo-and-takes-text p{
    padding: 10px 0;
    
}

/* Game cover section */
.game-cover-img{
    margin: 10px 0;
}

.game-cover-img img{
    border-radius: 20px;
    padding: 2px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

.game-cover-img.game-brd img{
    
    border-color: #217dd2;
}

/* Playstation 5 section */
.playstation-5-and-4-content{
    padding-bottom: 50px;
}

.playstation-5-and-4-content h2{
    padding-bottom: 20px;
}

.playstation-5-and-4-text{
    text-align: center;
}

.brd-bot-blue{
    border-bottom: 3px solid #217dd2;
}

.content-img-ps5{
    text-align: center;
    height: 100%;
}

.content-img-ps5 img{
    opacity: 70%;
}

.content-img-ps5.no-opacity img{
    opacity: 100%;
}

.content-img-ps5 p{
    display: none;
}

.tm-ps5{
    font-size: 8px;
    position: relative;
    bottom: 5px;
    left: 0;
}

/* It takes game section */
.it-takes-game{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* New releases section */
.new-releases{
    background-color: #1f1f1f;
    color:white;
}

.new-releases h3{
    padding: 10px 0;
}

.new-releases .game-cover-img{
    padding-bottom: 30px;
}

.new-releases img{
    border: none;
}

/* Ps4 section */


.reg-ps4{
    position: relative;
    bottom: 10px;
    left: 0;
    font-size: 14px;
}




/* FOOTER */
footer{

}

@media (min-width: 768px) {
    /* Playstation 5 section */
    .console-ps5-text{
        padding-top: 55px;
    }

    .content-img-ps5 img{
        max-width: 50%;
    }

    .content-img-ps5 p{
        display: block;
    }
    
}

@media (min-width: 992px) {
    /* Playstation 5 section */
    .console-ps5-text{
        padding-top: 80px;
    }
}

@media (min-width: 1200px) {
    /* Playstation 5 section */
    .console-ps5-text{
        padding-top: 95px;
    }
}