/* COMMON */
body{
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* Reset img */
img{
    width: 100%;
}

/* Reset a */
a{
    text-decoration: none;
    display: inline-block;
}

/* Reset ul */
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Button */
.ms_btn{
    border-radius: 25px;
    padding: 8px 16px;
    font-size: 18px;
}

.ms_btn-dark{
    color: white;
    background-color: #363636;
    border: 1px solid #363636;
}

.ms_btn-dark:hover{
    color: white;
    background-color: #131313;
    border: 1px solid #131313;
}

.ms_btn-red{
    color: white;
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}

.ms_btn-red:hover{
    color: white;
    background-color: #f84c13;
    border: 1px solid #f84c13;
}

.ms_btn-blue{
    color: white;
    background-color: #2d64e6;
    border: 1px solid #2d64e6;
}

.ms_btn-blue:hover{
    color: white;
    background-color: #3270ff;
    border: 1px solid #3270ff;
}

.ms_btn-lightgray{
    color: #3a6de5;
    background-color: #d9dadc;
    border: 1px solid #d9dadc;
}

.ms_btn-lightgray:hover{
    color: #3a6de5;
    background-color: #e0e0e2;
    border: 1px solid #e0e0e2;
}

.ms_btn-white{
    color: black;
    background-color: white;
    border: 1px solid white;
}

.ms_btn-white:hover{
    color: black;
    background-color: lightgray;
    border: 1px solid lightgray;
}

/* text */
h2{
    font-size: 50px;
}

.text-blue{
    font-size: 14px;
    color: #217dd2;
}

.text-gray{
    color: gray;
}

.playstation-text{
    text-align: center;
}

/* Playstation content */
.playstation-content{
    padding-bottom: 50px;
}

.playstation-content h2{
    padding-bottom: 20px;
}

/* banner */
.ms_banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Header top */
.ms_header-top{
    background-color: black;
}

/* Logo sony */
.ms_header-top .logo-sony{
    padding: 5px 0;
    text-align: right;
}

.logo-sony img{
    width: 70px;
    display: inline-block;
}

/* Header bottom */
.ms_header-bottom{
    padding: 10px 0;
    background-color: white;
}
/* Menu header left and right */
.menus-header-left li,
.menus-header-right li{
    display: inline-block;
    padding: 0 5px;
}

.menus-header-left a{
    color: black;
}

.menus-header-right li:first-child a{
    color: black;
}

.menus-header-left{
    text-align: left;
}

.menus-header-right,
.ms_header-burger{
    text-align: right;
}

/* Search icon */
.search svg{
    width: 25px;
}

/* Chevron icon */
.menus-chevron svg{
    width: 10px;
}

.menus-chevron-hover svg{
    width: 10px;
    display: none;
}

/* Menu header hover */
.menus-header-left a:hover .menus-chevron svg,
.menus-header-right a:hover .menus-chevron svg{
    display: none;
}

.menus-header-left a:hover .menus-chevron-hover svg,
.menus-header-right a:hover .menus-chevron-hover svg{
    display: inline-block;
}

.menus-header-left li:hover a,
.menus-header-right li:first-child a:hover{
    color: #0270d1;
}

/* Header burger */
.ms_header-burger i{
    font-size: 25px;
    padding: 5px 13px;
    border-radius: 3px;
    color: grey;
    border: 1px solid lightgray;
}


/* MAIN */
/* Main section */
main section{
    padding: 60px 0;
}

/* Jumbotron */
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 110px;
    
}

.jumbo-cta{
    padding-top: 300px;
    padding-bottom: 40px;
}

.jumbo-and-takes-img img{
    width: 60%;
    min-width: 250px;
    max-width: 300px;
    padding-bottom: 20px;
}

.jumbo-and-takes-text h2,
.jumbo-and-takes-text p{
    padding: 20px 0;
    
}

/* Game cover section */
.game-cover-img{
    margin: 10px 0;
}

.game-cover-img:hover{
    position: relative;
    bottom: 15px;
    cursor: pointer;
}

.game-cover-img img{
    border-radius: 20px;
    padding: 2px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

.game-cover-img.game-brd img{
    
    border-color: #217dd2;
}

/* Playstation 5 section */
.brd-bot-blue{
    border-bottom: 3px solid #217dd2;
}

.content-img-ps5{
    text-align: center;
    height: 100%;
}

.content-img-ps5 img{
    opacity: 70%;
}

.content-img-ps5.no-opacity img{
    opacity: 100%;
}

.content-img-ps5 p{
    display: none;
}

.tm-ps5{
    font-size: 8px;
    position: relative;
    bottom: 5px;
    left: 0;
}

/* It takes game section */
.it-takes-game{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* New releases section */
.new-releases{
    background-color: #1f1f1f;
    color:white;
}

.new-releases h3{
    padding: 10px 0;
}

.new-releases .game-cover-img{
    padding-bottom: 30px;
}

.new-releases img{
    border: none;
}

/* Ps4 section */
.reg-ps4{
    position: relative;
    bottom: 10px;
    left: 0;
    font-size: 14px;
}

/* PS plus section */
.ps-plus{
    background-color: #bebcbb;
}

.ps-plus,
.ps-now{
    padding:0;
}

.ps-plus-and-now-content{
    padding: 40px 0;
}

.ps-plus-and-now-img img{
    width: 60%;
}

.ps-plus-and-now-text p{
    padding: 30px 0;
}

/* Discount section */
.discount-img{
    margin-bottom: 50px;
}



/* PS now section */
.ps-now{
    background-color: #161c3b;
    color: white;
}

/* Social section */
.social{
    text-align: center;
}

.social-text h2{
    padding-bottom: 30px;
}

.social-img img{
    padding-bottom: 20px;
}

/* FOOTER */
footer{
    background-color: #01439c;
    color: white;
    font-size: 16px;
}

footer a{
    color: inherit;
}

.footer-logo,
.footer-logo-sie{
    padding-top: 80px;
}

.footer-logo img{
    width: 100px;
}

.footer-country{
    padding: 50px 0;
}

.footer-country img{
    width: 20px;
}

.footer-links{
    padding-bottom: 10px;
}

.footer-links li{
    padding-bottom: 10px;
}

.footer-links a:hover{
    color: white;
    text-decoration: underline;
}

.footer-logo-sie img{
    width: 150px;
}

.footer-text{
    padding-bottom: 80px;
}

.footer-text a{
    text-decoration: underline;
}



/* Media query */
@media (min-width: 768px) {
    /* Playstation 5 section */
    .console-ps5-text{
        padding-top: 55px;
    }

    .content-img-ps5 img{
        max-width: 50%;
    }

    .content-img-ps5 p{
        display: block;
    }
    
    /* PS plus */
    .ps-plus-content{
        padding: 0;
    }
    
   
}

@media (min-width: 992px) {
    /* Playstation 5 section */
    .console-ps5-text{
        padding-top: 80px;
    }

     /* FOOTER */
     .footer-links{
        padding-top: 80px;
    }
}

@media (min-width: 1200px) {
    /* Playstation 5 section */
    .console-ps5-text{
        padding-top: 95px;
    }

    /* Discount */
    .discount-img img{
        max-width: 550px;
    }

}